@{
    ViewData["Title"] = "Espacios";
}

<h4>Ejemplo 1: Márgenes</h4>

<div>
    Fila 1
</div>

<div class="my-3">
    Fila 2 
</div>

<div>
    Fila 3
</div>

<button class="btn btn-primary me-5 pe-5 px-5">Botón 1</button>
<button class="btn btn-secondary ms-5">Botón 2</button>