@{
    ViewData["Title"] = "Imagenes";
}

<h4>Ejemplo 1: Imagenes en columnas</h4>

<div class="row gy-5">
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.supercoloring.com/sites/default/files/styles/coloring_full/public/cif/2022/02/1190-laptop-coloring-page.png" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.supercoloring.com/sites/default/files/styles/coloring_full/public/cif/2022/02/1190-laptop-coloring-page.png" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.supercoloring.com/sites/default/files/styles/coloring_full/public/cif/2022/02/1190-laptop-coloring-page.png" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://www.supercoloring.com/sites/default/files/styles/coloring_full/public/cif/2022/02/1190-laptop-coloring-page.png" />
    </div>
</div>

<h4>Ejemplo 2: Imagen tipo thumbnail</h4>

<img class="img-thumbnail rounded-circle"
     src="https://cdn.icon-icons.com/icons2/2415/PNG/512/csharp_original_logo_icon_146578.png" />
