@{
    ViewData["Title"] = "Video";
}

<div>
    Video sin ratio:
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/G9tScR87hGY?si=FZOgjqU63xVTCSd5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<div>
    Video con ratio 16x9:
</div>



<div class="row gy-3">
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G9tScR87hGY?si=FZOgjqU63xVTCSd5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G9tScR87hGY?si=FZOgjqU63xVTCSd5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G9tScR87hGY?si=FZOgjqU63xVTCSd5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>